.checkbox {
    display: flex;

    &__value {
        transition: 0.3s ease;
        transition-property: background-color;
        width: rem(24);
        height: rem(24);
        background-color: $gray;
        border-radius: rem(8);
        display: block;
        margin-right: rem(12);
        margin-top: rem(8);
        position: relative;

        svg {
            width: rem(12);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            path {
                stroke-dashoffset: 17;
                stroke-dasharray: 17;
                transition: 0.3s ease;
                transition-property: stroke-dasharray;
            }
        }

        &.active {
            svg {
                path {
                    stroke-dasharray: 34;
                }
            }
        }

        &.error {
            background-color: rgba($red, 0.3);
        }
    }

    &__text {
        font-family: $med;
        max-width: rem(310);
        font-size: rem(14);
        line-height: rem(18);
    }

    @media (min-width: $tablet) {
        &__value {
            margin-top: rem(4);
        }

        &__text {
            color: rgba($black, 0.3);
            max-width: rem(654);
        }
    }

    @media (min-width: $desktop) {
        &__text {
            color: $black;
            max-width: rem(504);
        }
    }
}
