.file-uploader {
    position: relative;
    cursor: pointer;

    &__zone {
        pointer-events: none;
        background-color: $yellow;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: rem(8);

        span {
            font-family: $med;
            font-size: rem(16);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        transition: 0.2s ease;
        transition-property: opacity;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    &__value {
        display: none;
    }

    &__button {
        position: relative;
        line-height: rem(47);
        background-color: $gray;
        border-radius: rem(8);
        color: rgba($black, 0.3);
        font-family: $med;
        font-size: rem(14);
        box-sizing: border-box;
        padding-left: rem(52);

        &::before {
            position: absolute;
            left: rem(16);
            top: 50%;
            transform: translateY(-50%);
            font-family: $icon;
            content: '\e906';
            font-size: rem(24);
        }
    }

    &__selected {
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: rem(2);
        font-size: rem(14);
        line-height: rem(18);
        transition: 0.3s ease;
        transition-property: opacity;
        user-select: none;
        opacity: 0;

        &.active {
            opacity: 1;
        }
    }

    @media (min-width: $desktop) {
        &__button {
            transition: 0.3s ease;
            transition-property: background-color;
        }

        &:hover {
            .file-uploader {
                &__button {
                    background-color: rgba($black, 0.2);
                }
            }
        }
    }
}
