.button {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;

    &--standart {
        font-family: $med;
        padding: 0 rem(16);
        color: $black;
        line-height: rem(47);
        border-radius: rem(8);
        transition: 0.3s ease;
        transition-property: background-color;
    }

    &--height {
        &-small {
            line-height: rem(43);
        }

        &-big {
            line-height: rem(73);
        }
    }

    &--font-size {
        &-medium {
            font-size: rem(18);
        }

        &-big {
            font-size: rem(24);
        }
    }

    &--background {
        &-yellow {
            background-color: $yellow;
        }

        &-gray {
            background-color: $gray;
        }

        &-white {
            background-color: $white;
        }
    }

    &--navigation {
        width: rem(44);
        transition: 0.3s ease;
        transition-property: opacity;

        &::before {
            font-family: $icon;
            content: '\e900';
            font-size: rem(12);
            line-height: rem(44);
        }

        &.disabled {
            opacity: 0.2;
        }
    }

    //@media (min-width: $tablet) {
    //}
}
