.form {
    position: relative;
    transition: 1s ease;
    transition-property: height;

    &__line {
        & + &--small-margin {
            margin-top: rem(24);
        }
    }

    &__line,
    &__input {
        & + & {
            margin-top: rem(30);
        }
    }

    &__file {
        width: 100%;
        margin-top: rem(12);
    }

    &__button {
        width: 100%;
    }

    &__captcha {
        background-color: $gray;
        border-radius: rem(8);
        box-sizing: border-box;
        padding: rem(12) rem(16);
        cursor: pointer;
    }

    &__label {
        width: 100%;
        font-family: $med;
        font-size: rem(14);
        line-height: rem(18);
        margin-bottom: rem(12);
    }

    &__required {
        font-size: rem(14);
        line-height: rem(18);
        font-family: $med;
        color: rgba($black, 0.3);
        margin-top: rem(24);
    }

    &__body {
        transition: 0.3s ease;
        transition-property: opacity, transform;
    }

    &__preloader,
    &__response {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        pointer-events: none;
        transition: 0.3s ease;
        transition-property: opacity;
        opacity: 0;
    }

    &__preloader {
        height: 100%;
        background-color: rgba($white, 0.7);
    }

    &__response {
        transform: translateY(10px);
        transition-duration: 0.7s;
        transition-property: opacity, transform;
        transition-delay: 1s;
    }

    &.loading {
        .form {
            &__body {
                transform: scale(0.95);
            }

            &__preloader {
                opacity: 1;
            }
        }
    }

    &.send {
        .form {
            &__body {
                pointer-events: none;
                opacity: 0;
                transform: translateY(-10px) scale(0.95);
            }

            &__preloader {
                opacity: 0;
            }

            &__response {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    @media (min-width: $tablet) {
        &__line {
            display: flex;
            justify-content: space-between;

            &--column {
                flex-direction: column;
            }

            &--wrap {
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
            }
        }

        &__captcha {
            width: rem(330);
            margin-right: rem(30);
        }

        &__required {
            margin-top: 0;
        }

        &__input {
            width: 100%;

            &--small {
                width: rem(330);
            }

            & + & {
                margin-top: 0;
            }
        }
    }

    @media (min-width: $desktop) {
        &__captcha,
        &__required {
            width: rem(255);
        }

        &__input {
            &--small {
                width: rem(255);
            }
        }
    }
}

.spinner {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;

    div {
        animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;

        &::after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $black;
            margin: -4px 0 0 -4px;
        }

        &:nth-child(1) {
            animation-delay: -0.036s;

            &::after {
                top: 63px;
                left: 63px;
            }
        }

        &:nth-child(2) {
            animation-delay: -0.072s;

            &::after {
                top: 68px;
                left: 56px;
            }
        }

        &:nth-child(3) {
            animation-delay: -0.108s;

            &::after {
                top: 71px;
                left: 48px;
            }
        }

        &:nth-child(4) {
            animation-delay: -0.144s;

            &::after {
                top: 72px;
                left: 40px;
            }
        }

        &:nth-child(5) {
            animation-delay: -0.18s;

            &::after {
                top: 71px;
                left: 32px;
            }
        }

        &:nth-child(6) {
            animation-delay: -0.216s;

            &::after {
                top: 68px;
                left: 24px;
            }
        }

        &:nth-child(7) {
            animation-delay: -0.252s;

            &::after {
                top: 63px;
                left: 17px;
            }
        }

        &:nth-child(8) {
            animation-delay: -0.288s;

            &::after {
                top: 56px;
                left: 12px;
            }
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.response {
    font-family: $med;

    &__text {
        font-size: rem(18);
        line-height: rem(23);
        margin: rem(24) 0;
    }

    &__quote {
        font-size: rem(14);
        line-height: rem(18);
        padding-left: rem(12);
        border-left: 3px solid $yellow;
    }
}
