.form {
    &__line,
    &__input {
        & + & {
            margin-top: rem(30);
        }
    }

    &__file {
        width: 100%;
        margin-top: rem(12);
    }

    @media (min-width: $tablet) {
        &__line {
            display: flex;
            justify-content: space-between;

            &--column {
                flex-direction: column;
            }
        }

        &__input {
            width: 100%;

            &--small {
                width: rem(330);
            }

            & + & {
                margin-top: 0;
            }
        }
    }

    @media (min-width: $desktop) {
        &__input {
            &--small {
                width: rem(255);
            }
        }
    }
}
