@mixin newFont($family,$pathName) {
    @font-face {
        font-family: '#{$family}';
        src: url('~@/assets/fonts/#{$pathName}.woff2') format('woff2'), url('~@/assets/fonts/#{$pathName}.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}

@include newFont('icon','icomoon');
@include newFont('reg','EuclidCircularB-Regular');
@include newFont('med','EuclidCircularB-Medium');
