html {
    font-size: ($remDivider / ($designMobile / 100)) + vw;

    @media (min-width: $mobileScaleStop) {
        font-size: (($mobileScaleStop / 100) * ($remDivider / ($designMobile / 100)));
    }

    @media (min-width: $tablet) {
        font-size: ($remDivider / ($designTablet / 100)) + vw;
    }

    @media (min-width: $desktop) {
        font-size: ($remDivider / ($designDesktop / 100)) + vw;
    }

    @media (min-width: $maxRems) {
        font-size: ($maxRems / 100) * ($remDivider / ($designDesktop / 100));
    }
}
