@function rem($size) {
    $remSize: $size / 12 + rem + ' ';

    @return #{$remSize};
}

@function em($px, $root: 12) {
    @return $px / $root + em;
}

//colors
$black: #000;
$white: #fff;
$gray: #F5F5F5;
$grayDark: #B3B3B3;
$yellow: #FFDF31;
$red: #FF6666;

//fonts
$icon: 'icon', sans-serif;

// this is an example
$reg: 'reg', -apple-system, system-ui, blinkmacsystemfont, 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif';
$med: 'med', -apple-system, system-ui, blinkmacsystemfont, 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif';

//breakpoints
$mobileScaleStop: 560px;
$tablet: 650px;
$maxMobile: $tablet - 1px;
$tabletLate: 768px;
$maxMobileLate: $tabletLate - 1px;
$desktop: 1200px;
$maxTablet: $desktop - 1px;
$maxRems: 1600px;

// these breakpoints used in scaling calculations
// and should be adjusted to the design layout
$remDivider: 12px;
$designMobile: 375px;
$designTablet: 768px;
$designDesktop: 1440px;

