.form-wrapper {
    padding-top: rem(126);
    padding-bottom: rem(48);
    overflow: hidden;

    &__title {
        margin-bottom: rem(48);
        transition: 0.7s ease;
        transition-property: opacity;
    }

    &__motivation {
        padding-top: rem(48);

        p {
            font-family: $med;
            font-size: rem(24);
            line-height: rem(30);
            margin-bottom: rem(24);
            transition: 0.7s ease;
            transition-property: opacity;
        }

        span {
            display: block;
            font-family: $med;
            font-size: rem(18);
            line-height: rem(23);
            margin-bottom: rem(24);
            transition: 0.7s ease;
            transition-property: opacity, height;
            overflow: hidden;
        }
    }

    &__phone {
        min-width: 100%;
    }

    @media (min-width: $tablet) {
        padding-top: rem(183);
        padding-bottom: rem(72);

        &__title {
            margin-bottom: rem(72);
        }

        &__motivation {
            padding-top: rem(72);

            p {
                font-size: rem(32);
                line-height: rem(41);
            }
        }
    }

    @media (min-width: $desktop) {
        padding-top: rem(177);
        min-height: calc(100vh - 40.43333rem);

        &__title {
            margin-bottom: rem(48);
        }

        &__wrapper {
            display: flex;
            align-items: flex-start;
        }

        &__column {
            width: 50%;
            box-sizing: border-box;

            &--right {
                padding-left: rem(115);
            }
        }

        &__form {
            width: rem(540);
        }

        &__motivation {
            padding-top: rem(32);
            width: rem(445);

            span {
                max-width: rem(412);
            }
        }
    }
}
