.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: 0.3s ease;
    transition-property: background-color;

    &--white {
        background-color: $white;
    }

    &--gray {
        background-color: $gray;
    }

    &__container {
        height: rem(78);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        img {
            width: rem(185);
        }
    }

    &__phone {
        font-size: 0;
        color: $black;
        margin-right: rem(17);

        &::before {
            font-family: $icon;
            content: '\e901';
            font-size: rem(24);
            line-height: rem(24);
        }
    }

    &__button {
        @media (max-width: $maxMobile) {
            position: fixed;
            top: rem(16);
            left: 50%;
            transform: translateX(-50%);
            min-width: rem(345);
            transition: 0.3s ease;
            transition-property: opacity;
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }
    }

    &__close {
        display: block;
        margin-right: rem(16);
        color: $black;

        &::before {
            font-family: $icon;
            content: '\e904';
            font-size: rem(20);
        }
    }

    @media (min-width: $tablet) {
        &__container {
            height: rem(111);
        }

        &__logo {
            img {
                width: rem(245);
            }
        }

        &__right {
            display: flex;
            align-items: center;
        }

        &__phone {
            font-size: rem(18);
            line-height: rem(23);
            margin-right: rem(32);
            font-family: $med;

            &::before {
                display: none;
            }
        }

        &__button {
            display: block;
        }

        &__close {
            &::before {
                font-size: rem(24);
            }
        }
    }
}
