.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba($black, 0.4);
    transition: 0.3s ease;
    transition-property: opacity;
    pointer-events: none;
    opacity: 0;
    overflow-y: scroll;

    &.active {
        pointer-events: inherit;
        opacity: 1;
    }

    &__inner {
        box-sizing: border-box;
        overflow-y: scroll;
        width: 100%;
        padding: rem(72) rem(14) rem(24);
        background-color: $white;
    }

    &__head {
        transition: 0.3s ease;
        transition-property: opacity;
        opacity: 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: rem(72);
        padding: rem(21) rem(14);
        box-sizing: border-box;
        background-color: $white;
        font-family: $med;
        font-size: rem(24);
        line-height: rem(30);
        z-index: 3;

        &.active {
            opacity: 1;
        }
    }

    &__close {
        width: rem(32);
        height: rem(32);
        position: absolute;
        top: rem(20);
        right: rem(28);
        z-index: 2;

        &::before,
        &::after {
            display: block;
            content: '';
            width: rem(24);
            height: 2px;
            background-color: $black;
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &--head {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @media (min-width: $tablet) {
        padding: rem(72) 0;
        box-sizing: border-box;
        overflow-y: scroll;

        &__inner {
            position: relative;
            margin: 0 auto;
            width: rem(684);
            max-height: none;
            height: auto;
            padding: rem(32) rem(24);
            border-radius: rem(8);
            overflow: visible;
        }

        &__head {
            left: 50%;
            transform: translateX(-50%);
            width: rem(684);
            height: rem(94);
            padding: rem(32) rem(24);
        }
    }

    @media (min-width: $desktop) {
        &__inner {
            width: rem(1110);
            padding: rem(72) rem(95);
        }

        &__head {
            width: rem(1110);
            height: rem(90);
            padding: rem(30) rem(95);
        }

        &__close {
            transition: 0.3s ease;
            transition-property: opacity;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}
